<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink=""> Home</a>
      <a routerLink="/probile/33/jwname"
       [queryParams]="{ page: 1, width:30 }" class="nav-item nav-link" routerLinkActive="active" >Profile</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/profile2">44 </a>
    </div>
  </div>
</nav>